---
title: Zeiss Batis 85mm f/1.8 Lens Test Results
author: mrtmsadmin
type: post
date: 2016-05-23T11:42:41+00:00
url: /2016/05/zeiss-batis-85mm-f1-8-lens-test-results/
thumbnail: https://www.mirrorlesstimes.com/wp-content/uploads/2016/05/zeiss-batis-85mm-f1-8-lens-test-results.jpg
dsq_thread_id:
  - "4861881208"
tags:
  - Full Frame
  - Lens
  - Review

---
DxOMark published their test results for the **Zeiss Batis 85mm f/1.8** prime lens which is designed for Sony full-frame mirrorless cameras.

The test results shows the fast prime lens scored **39** points and performed an excellent optical performance. Currently selling for a price tag of **<a href="http://amzn.to/1Wc6drA" target="_blank" rel="external nofollow">$1,199</a>**, the optic has been tested using the Sony A7R full-frame E-mount camera.

From the Zeiss Batis 85mm f/1.8 test results, DxOMark finds that the lens offers uniform and strong resolution between f/4 and f/11. When aperture settings gets wider, good center resolution is recorded, with just a little drop-off in the outer field, and at f/22, sharpness levels drop to around 60%, but remain homogenous across the frame.<!--more-->

  
<img class="alignnone size-full wp-image-260" src="https://i0.wp.com/www.mirrorlesstimes.com/wp-content/uploads/2016/05/zeiss-batis-85mm-f1-8-lens-dxomark-score.png?resize=600%2C287&#038;ssl=1" alt="zeiss-batis-85mm-f1-8-lens-dxomark-score" width="600" height="287" srcset="https://i0.wp.com/www.mirrorlesstimes.com/wp-content/uploads/2016/05/zeiss-batis-85mm-f1-8-lens-dxomark-score.png?w=950&ssl=1 950w, https://i0.wp.com/www.mirrorlesstimes.com/wp-content/uploads/2016/05/zeiss-batis-85mm-f1-8-lens-dxomark-score.png?resize=300%2C143&ssl=1 300w, https://i0.wp.com/www.mirrorlesstimes.com/wp-content/uploads/2016/05/zeiss-batis-85mm-f1-8-lens-dxomark-score.png?resize=768%2C367&ssl=1 768w" sizes="(max-width: 600px) 100vw, 600px" data-recalc-dims="1" /> 

## Zeiss Batis 85mm f/1.8 Lens Gets DxOMarked

<img class="alignnone size-full wp-image-261" src="https://i1.wp.com/www.mirrorlesstimes.com/wp-content/uploads/2016/05/zeiss-batis-85mm-f1-8-lens-dxomark-comparison.jpg?resize=600%2C303&#038;ssl=1" alt="zeiss-batis-85mm-f1-8-lens-dxomark-comparison" width="600" height="303" srcset="https://i1.wp.com/www.mirrorlesstimes.com/wp-content/uploads/2016/05/zeiss-batis-85mm-f1-8-lens-dxomark-comparison.jpg?w=920&ssl=1 920w, https://i1.wp.com/www.mirrorlesstimes.com/wp-content/uploads/2016/05/zeiss-batis-85mm-f1-8-lens-dxomark-comparison.jpg?resize=300%2C152&ssl=1 300w, https://i1.wp.com/www.mirrorlesstimes.com/wp-content/uploads/2016/05/zeiss-batis-85mm-f1-8-lens-dxomark-comparison.jpg?resize=768%2C388&ssl=1 768w" sizes="(max-width: 600px) 100vw, 600px" data-recalc-dims="1" />  
From <a href="http://www.dxomark.com/Reviews/Carl-Zeiss-Batis-85mm-f-1.8-Sony-FE-Creative-contender/Conclusion" target="_blank" rel="external">DxOmark</a> conclusion:

> _While not cheap, the $1,199 Zeiss Batis 85mm f/1.8 offers good value for money, considering the solid Zeiss construction, features, and performance. On the A7R, it’s not quite as sharp as the similarly-priced Sony FE 90mm f/2.8, but sharpness is still very good. What’s more, with improved light transmission thanks to that faster f/1.8 maximum aperture, the Zeiss lens is better suited for low-light event photography, as well as creative portraiture, over the Sony. We can’t wait to pit the Zeiss Batis 85mm and the Sony FE 90mm against the new Sony 85mm f/1.4GM just as soon as we get one in the lab._

The **Zeiss Batis 85mm f/1.8** is a moderate tele lens which offers 11 lens elements in eight groups and features the ZEISS Sonnar optical design. The optical construction consists of elements that are made from special types of glass and designed to ensure superior image quality. The fast prime optic is a particularly good choice for wedding photography and portrait shots, offering the high speed which provides plenty of creative scope to bring out the main subject.